.main-footer {
    color: #457b9d;
    background-color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

.main-footer p{
    padding-left: 1em;
}
.main-footer:hover {
	color: #1d3557;
}