.search {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    border: 1px solid rgb(190, 184, 184);
    padding: 4px 0px;
    margin-top: 1.5rem;
    margin-bottom: 1.5em;
    gap: 10px;
    margin: 0px 20px;

}

.search input {
    border: none;
    background-color: white;
    height: 55.5px;
    width: 550px;
}

.search input:focus {
    outline: none;
}

.search-icons {
    margin-left: 10px;
    gap: 10px;
}